<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<section class="homepic d-flex justify-content-center align-items-center">
<div class="text-center">
<h1>Contact Manager</h1>
<p>We provide a well facility to store your important contacts, get started by hitting the below button</p>
<button class="btn btn-primary bg-primary">Get Started</button>
</div>
</section>
</body>
</html>